<div class="root">

  <svg viewBox="0 0 2000.0 2000.0" class="left-data">
    <g
      *ngFor="let circle of circles"
      id="abc"
    >

      <circle
        [attr.fill]="white"
        [attr.cx]="circle.x"
        [attr.cy]="circle.y"
        [attr.r]="circle.r"
        stroke-width="5"
        stroke="black"
      ></circle>

      <path
        id="background"
        *ngFor="let sector of circle.sectors; let pos = index"
        [attr.transform]="pathRotate(circle, pos)"
        [attr.fill]="sector.color"
        [attr.d]="pathData(circle)"
        (click)="secClick(sector)"
        stroke-width="5"
        stroke="black"
      ></path>
      <path
        id="piece"
        *ngFor="let sector of circle.sectors; let pos = index"
        [attr.transform]="pathRotate(circle, pos)"
        [attr.fill]="sector.color"
        [attr.d]="pathData(circle)"
        (click)="secClick(sector)"
        stroke-width="10"
        stroke="black"
      ></path>


    </g>
  </svg>

  <md-card class="right-data" style="min-height: 275px">
    <md-card-title class="title">Info</md-card-title>
    <p>Start Time <br>{{deadline.getStart().toString()}}</p><br>
    <p>Current Time <br>{{deadline.getCurrent().toString()}}</p><br>
    <p>End Time <br>{{deadline.getEnd().toString()}}</p><br>
    <p>{{infoData}}</p>
  </md-card>

</div>
