<div class="main">

  <md-card class="card-info">
    <md-card-content>
      <img src="https://image.ibb.co/cUo3za/banner.png" style="max-width: 100%; position: relative;">

      <div class="banner-content">
        <h1>Universyl</h1>
        <p>Slogan</p>
        <a md-raised-button>Get Started</a>
      </div>

    </md-card-content>
  </md-card>

  <md-grid-list cols="2" class="home-grid" rowHeight="250px">

    <md-grid-tile class="grid-item">

      <div>
        <img src="https://image.ibb.co/bEMRkF/Graduate_Vector_Free.png" style="max-width: 90%;">
      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <h4>Optimized for Students</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
          looking
          at its layout.</p>

      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <h4>Versatile</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore
          magna aliqua.</p>

      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <img src="https://image.ibb.co/hs0DXv/Free_Teacher_Vector.png" style="max-width: 90%;">
      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <img src="https://image.ibb.co/bOm3Xv/guy.jpg" style="max-width: 90%; ">
      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <h4>Fast and Consistent</h4>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non
          numquam eius modi.</p>

      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <h4>Cloud Based</h4>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
          consequatur.</p>
      </div>

    </md-grid-tile>

    <md-grid-tile class="grid-item">

      <div>
        <img src="https://image.ibb.co/eWekea/digital_cloud_5221.jpg" style="max-width: 100%;">
      </div>

    </md-grid-tile>

  </md-grid-list>

</div>
