<md-card class="centered-card">
  <md-card-content class="card-info">
    <h3>Help</h3>
    <p>Awoiejofoiwejfklcxvlkxcjvoi oiwefoiwej fkldsj f lakjd </p>
    <p>Koosdosfll sldlfksdfj weoijf ijoa sdfka jsdoiiowef</p>
    <p>WOFiwfioewiofjdsjf a sjdojfoaiwjeoiajfiowjecf</p>
    <p>OOji iojawoijfeeijofiojaewjio fj fjlkklxzf</p>
  </md-card-content>
</md-card>


