<md-sidenav-container (ngModel)='user'>

  <!-- Toolbar -->
  <md-toolbar color='primary' class='toolbar'>
    <md-icon (click)='nav.open()'>menu</md-icon>
    <a class='app-title'>{{title}}</a>
    <a class='spacer'></a>
    <md-icon [mdMenuTriggerFor]='menu'>more_vert</md-icon>
  </md-toolbar>

  <!-- SideNav Menu -->
  <md-sidenav #nav class='nav'>
    <md-nav-list>
      <img src="{{user.avatar}}" class='sidenav-avatar'>
      <p class='sidenav-name'><b>{{user.name}}</b></p>
      <md-divider></md-divider>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink=''>
        <md-icon>home</md-icon>
        Home</a>
      <md-divider></md-divider>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Student' routerLink='explore'>
        <md-icon>explore</md-icon>
        Explore</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Student' routerLink='degree'>
        <md-icon>account_balance</md-icon>
        Degree</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Faculty' routerLink='calendar'>
        <md-icon>date_range</md-icon>
        Calendar</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type < MemberType.Faculty' routerLink='editor'>
        <md-icon>edit</md-icon>
        Editor</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type < MemberType.Faculty' routerLink='stats'>
        <md-icon>search</md-icon>
        Stats</a>
      <md-divider></md-divider>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='settings'>
        <md-icon>settings</md-icon>
        Settings</a>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='help'>
        <md-icon>help</md-icon>
        Help</a>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='about'>
        <md-icon>info_outline</md-icon>
        About</a>
    </md-nav-list>
  </md-sidenav>

  <!-- Overflow Menu -->
  <md-menu #menu class='overflow'>
    <md-nav-list>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='/'>
        <md-icon>home</md-icon>
        Home</a>
      <md-divider></md-divider>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Student' routerLink='explore'>
        <md-icon>explore</md-icon>
        Explore</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Student' routerLink='degree'>
        <md-icon>account_balance</md-icon>
        Degree</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type > MemberType.Faculty' routerLink='calendar'>
        <md-icon>date_range</md-icon>
        Calendar</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type < MemberType.Faculty' routerLink='editor'>
        <md-icon>edit</md-icon>
        Editor</a>
      <a md-menu-item (click)='nav.close()' [hidden]='user.type < MemberType.Faculty' routerLink='stats'>
        <md-icon>search</md-icon>
        Stats</a>
      <md-divider></md-divider>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='settings'>
        <md-icon>settings</md-icon>
        Settings</a>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='help'>
        <md-icon>help</md-icon>
        Help</a>
      <a md-menu-item (click)='nav.close()' [hidden]='false' routerLink='about'>
        <md-icon>info_outline</md-icon>
        About</a>
    </md-nav-list>
  </md-menu>

  <!-- Main Content-->
  <div class='my-content'>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>



