
.app-title {
    font-size: 16px;
    margin-top: 2px;
    margin-left: 16px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.my-content {
    margin: 0;
    background: lightgray;
}

.nav {
    width: 192px;
}

.toolbar {
    box-shadow: 0 2px 2px #999;
    position: relative;
    min-height: 30px;
    z-index: 1;
}

[hidden] {
    display: none;
}

.sidenav-avatar {
    max-width: 192px;
    margin-top: -8px;
}

.sidenav-name {
    margin-left: 16px
}
