<md-card class="centered-card">

  <md-card-title style="text-align: center;">
    {{title}}
    <md-progress-bar mode="determinate" value="{{data['pos'] % data['total'] * 10}}"></md-progress-bar>

  </md-card-title>

  <md-card-content class="better-center">

    <md-input-container id={{item.id}} *ngFor="let item of items">
      <input mdInput [(ngModel)]="item.text" type="text" placeholder="{{item.title}}">
    </md-input-container>

  </md-card-content>

  <div class="center">
    <a md-raised-button routerLink="{{data['prev']}}" class="mat-accent">Back</a>
    <a style="margin: 4px; vertical-align: middle">{{data['pos']}}/{{data['total']}}</a>
    <a md-raised-button routerLink="{{data['next']}}" class="mat-accent">Next</a>

  </div>

</md-card>
