<md-card class="centered-card">
  <md-card-content class="card-info">
    <h3>Unisyl 0.7.0 - July 2017</h3>
    <p><b>Mentor - </b>Jacques Du Plessis</p>
    <p><b>Frontend - </b>Matthew Shannon</p>
    <p><b>Backend - </b>Trever Martin</p>
    <p><b>Business - </b>Minlief Gilbert</p>
  </md-card-content>
</md-card>


