<md-card class="centered-card">
  <md-card-title>{{data['title']}}</md-card-title>

  <md-card-content>
    <pre id="json" style="text-align:left">{{output}}</pre>
    <a md-raised-button (click)="prev()" class="mat-accent">Back</a>
    <a style="margin-left: 16px; margin-right: 16px">{{data['pos']}}/{{data['total']}}</a>
    <a md-raised-button (click)="next()" class="mat-accent">Next</a>

  </md-card-content>

</md-card>
