<md-card class="centered-card">
  <md-card-header>{{data['title']}}</md-card-header>
  <md-card-content>
    <br>
    <a md-raised-button (click)="wizard()" class="mat-accent">Wizard</a>
    <a md-raised-button (click)="manual()" class="mat-accent">Manual</a>
  </md-card-content>

</md-card>

