.left-data {
    width: 40%;
    margin: auto;
    float: left;
}

.right-data {
    width: 40%;
    margin: auto;
    float: right;
}

.title {
    text-align: center
}

.root {
    padding: 24px;
}

svg {
    padding: 1px;
}
