<div class="root">

  <svg viewBox="0 0 2000 2000" class="left-data">

    <g *ngFor="let circle of circles">
      <circle [attr.fill]="circle.color" [attr.cx]="circle.x" [attr.cy]="circle.y" [attr.r]="circle.r"
              stroke-width="5"
              stroke="black">
      </circle>

      <path *ngFor="let sector of circle.sectors; let pos = index" [attr.transform]="pathRotate(circle, pos)"
            [attr.d]="pathData(circle)" [attr.fill]="sector.color" (click)="secClick(sector)" stroke-width="5"
            stroke="black">
      </path>
    </g>
  </svg>
  <md-card class="right-data" style="min-height: 275px">
    <md-card-title class="title">Info</md-card-title>
    <md-card-content>{{infoData}}</md-card-content>
  </md-card>
</div>
