<md-card class="centered-card">
  <md-card-content class="card-info">
    <md-input-container>
      <input mdInput [(ngModel)]="query" placeholder="Search" value="Search..." (change)="textChanged()">
    </md-input-container>
    <div>
      <md-radio-group value="{{type}}">
        <md-radio-button value="0" (click)="typeChanged(0)">Departments</md-radio-button>
        <md-radio-button value="1" (click)="typeChanged(1)">Programs</md-radio-button>
      </md-radio-group>
    </div>
  </md-card-content>
</md-card>

<!--Departments-->
<div *ngIf="type == 0">
  <md-card class="centered-card">
    <md-card-content class="card-info">
      <md-expansion-panel *ngFor="let dept of filteredDepartments">
        <md-expansion-panel-header>{{dept.name}} ({{dept.count()}})</md-expansion-panel-header>
        <md-divider></md-divider>

        <md-expansion-panel *ngIf="getSection('Certificates', dept).length > 0">
          <md-expansion-panel-header>Certificates ({{getSection('Certificates', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('Certificates', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('Minors', dept).length > 0">
          <md-expansion-panel-header>Minors ({{getSection('Minors', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('Minors', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('Bachelors', dept).length > 0">
          <md-expansion-panel-header>Bachelors ({{getSection('Bachelors', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('Bachelors', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('PreProfessionals', dept).length > 0">
          <md-expansion-panel-header>PreProfessionals ({{getSection('PreProfessionals', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('PreProfessionals', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('Masters', dept).length > 0">
          <md-expansion-panel-header>Masters ({{getSection('Masters', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('Masters', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('GraduateCertificates', dept).length > 0">
          <md-expansion-panel-header>GraduateCertificates ({{getSection('GraduateCertificates', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('GraduateCertificates', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <md-expansion-panel *ngIf="getSection('Doctorates', dept).length > 0">
          <md-expansion-panel-header>Doctorates ({{getSection('Doctorates', dept).length}})</md-expansion-panel-header>
          <md-divider></md-divider>

            <md-expansion-panel *ngFor="let prog of getSection('Doctorates', dept)">
              <md-expansion-panel-header>{{prog.name}}</md-expansion-panel-header>
              <md-divider></md-divider>
            </md-expansion-panel>

        </md-expansion-panel>

        <!--<md-expansion-panel *ngFor="let prog of dept.programs">-->
          <!--<md-expansion-panel-header>{{prog.name}} ({{prog.count()}})</md-expansion-panel-header>-->
        <!--<md-divider></md-divider>-->
      <!--</md-expansion-panel>-->
      </md-expansion-panel>
    </md-card-content>
  </md-card>
</div>

<!--Programs-->
<div *ngIf="type == 1">
  <md-card class="centered-card">
    <md-card-content class="card-info">
      <md-expansion-panel *ngFor="let prog of filteredPrograms">
        <md-expansion-panel-header>{{prog.name}} ({{prog.count()}})</md-expansion-panel-header>
        <md-divider></md-divider>
      </md-expansion-panel>
   </md-card-content>
  </md-card>
</div>

<!--<div *ngFor="let item of searchList" class="centered-card">-->
  <!--<p>{{item.id}}</p>-->
  <!--<p>{{item.name}}</p>-->
  <!--<p>{{item.count()}}</p>-->
  <!--<br>-->

  <!--<md-expansion-panel>-->
  <!--<md-expansion-panel-header>{{item.name}} ({{item.count()}})</md-expansion-panel-header>-->
  <!--<md-divider></md-divider>-->

  <!--&lt;!&ndash;<md-expansion-panel *ngFor="let category of item.programs | keys">&ndash;&gt;-->
  <!--&lt;!&ndash;<md-expansion-panel-header>{{category | titlecase}} ({{category.length}})</md-expansion-panel-header>&ndash;&gt;-->
  <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-expansion-panel *ngFor="let entry of item.programs | values">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-expansion-panel-header>{{entry}}</md-expansion-panel-header>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</md-expansion-panel>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

  <!--&lt;!&ndash;</md-expansion-panel>&ndash;&gt;-->
  <!--</md-expansion-panel>-->

<!--</div>-->


<!--<md-card class="centered-card">-->


<!---->

<!--<p>{{item.id}}</p>-->
<!--<p>{{item.name}}</p>-->
<!--<div *ngFor="let x of item.programs | keys">{{x}}></div>-->

<!--<div *ngFor="let y of item.programs | values">{{y}}></div>-->


<!--</md-card>-->


<!--<md-expansion-panel *ngIf="item.programs['minors'].length > 0">-->
<!--<md-expansion-panel-header>Minors ({{item.programs['minors'].length}})</md-expansion-panel-header>-->
<!--<md-divider></md-divider>-->
<!--<p class="search-item" *ngFor="let minors of item.programs['minors']">-->
<!--<md-expansion-panel>-->
<!--<md-expansion-panel-header>{{minors}}</md-expansion-panel-header>-->
<!--<md-divider></md-divider>-->
<!--</md-expansion-panel>-->
<!--</p>-->
<!--</md-expansion-panel>-->



