button {
    margin: 8px;
}

.header {
    color: white;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 8px;
    padding: 8px;
}

.icon {
    color: white;
}

.mat-card-content > :first-child, .mat-card > :first-child {
    margin-top: -24px;
}

@media (max-width: 600px) {
}
