<div class="main">
  <h3>What are you interested in?</h3>

  <a md-raised-button style="margin: 8px" *ngFor="let button of buttons; let i = index" id={{button.id}}
     (click)="buttonClicked(i)"
     [ngStyle]=" {'background-color' : button.expanded ? button.color : 'white', 'color' :button.expanded ? 'white' : 'black'}">
    {{button.text}}
    <md-icon [ngStyle]="{'color' : button.expanded ? 'white' : 'black'}">{{button.expanded ? "remove_circle_outline"
      : "add_circle_outline"}}
    </md-icon>

  </a>

  <md-card class="centered-card" *ngFor="let card of cards; let cardIndex = index" id={{card.id}}>

    <md-card-header class="header" [ngStyle]="{'background' : changeColor(current, ((cardIndex+1)*.4))}">
      <span class="spacer"></span>
      <md-icon class="icon" (click)="cardSelected(cardIndex)">{{card.expanded ? "remove_circle_outline" :
        "add_circle_outline"}}
      </md-icon>

    </md-card-header>
    <md-card-content> {{card.text}}</md-card-content>

  </md-card>

</div>
