<!--User Info-->
<md-card class="centered-card" (ngModel)="user">
  <md-card-header><b>User Info</b></md-card-header>
  <br>
  <md-card-content class="settings-entry">
    <p><b>Email - </b>{{user.email}}</p>
    <p><b>Name - </b>{{user.name}}</p>
    <p><b>ID - </b>{{user.id}}</p>
    <p><b>Type - </b>{{MemberType[user.type]}}</p>
  </md-card-content>
</md-card>

<!--User Type-->
<md-card class="centered-card">
  <md-card-header><b>User Type</b></md-card-header>
  <br>
  <md-card-content class="settings-entry">
    <md-radio-group value="{{user.type}}">
      <md-radio-button value="0" (click)="onTypeChange(0)">Student</md-radio-button>
      <md-radio-button value="1" (click)="onTypeChange(1)">Faculty</md-radio-button>
      <md-radio-button value="2" (click)="onTypeChange(2)">Admin</md-radio-button>
    </md-radio-group>
  </md-card-content>
</md-card>


