* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, md-sidenav-container, .content {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
    background: lightgray !important;
}

.main {
    background: lightgray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centered-card {
    width: 75%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    z-index: 10;
}

.department-item {
    margin: auto;
    z-index: 10;
    background-color: #455a64 !important;
    color: white !important;

}

.better-center {
    margin: auto;
}

.card-info {
    box-shadow: none !important;
    padding: 0 !important;
    word-wrap: break-word;
    text-align: center
}

.mat-toolbar-row {
    height: 48px !important;
}
