<app-essential></app-essential>
<app-course></app-course>
<app-workload></app-workload>
<app-materials></app-materials>
<app-grading-policy></app-grading-policy>
<app-instructor-policy></app-instructor-policy>
<app-unit-policy></app-unit-policy>
<app-campus-policy (sectionPosition)="sectionPosition($event)"></app-campus-policy>
<app-support></app-support>

